* {
    box-sizing: border-box;
}
.conteudo{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  
.logo{
    height: 260px;
    width: 218px;
    /* topo | direita | inferior | esquerda */
    margin: 6% auto 7% auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo ion-icon{
    height: 218px;
    width: 172px;
    color: #FFEF61;

}

.logo span{
    height: 45px;
    width: 177px;
    font-family:'Merriweather', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.iniciar{
    height: 72px;
    width: 345px;
    left: 547px;
    top: 773px;
    border-radius: 12px;
    align-items: center;
    margin-top:1%;
    padding: 24px, 65px, 24px, 65px;
    border: 3px solid #FFEF61;
    display: flex;
    justify-content: center;
}
.iniciar span{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}
.iniciar ion-icon{
    height: 40px;
    width: 25px;
    color: #FFEF61;
    margin-left: 7px;
}
.imputMeta {
    height: 49px;
    width: 345px;
    border-radius: 12px;
    padding: 24px, 65px, 24px, 16px;
    border: 1px solid #000000;
    margin: auto;
}
.imputMeta::placeholder{
    height: 19px;
    width: 126px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
.logoNav{
    height: 54px;
    width: 141px;
    left: 26px;
    top: 26px;
    display: flex;
    align-items: center;
}
.logoNav ion-icon{
    height: 54px;
    width: 43px;
    color: #FFEF61;
}
.logoNav span{
    height: 20px;
    width: 79px;
    margin-left: 14px;
    font-family:'Merriweather', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
.card{
    height: 500px;
    width: 360px;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px 0px #0000001F;
    margin: auto;

    position: relative;
    transition: all .5s;
    transform-style: preserve-3d;
}
.face{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }
  .back-face {
    transform: rotateY(180deg);
  }

  .cardVirarBaixo{
    transform: rotateY(-180deg);
  }

.virar{
    height: 35px;
    width: 40px;
    position: absolute;
    right: 2px;
    bottom: 2px;
    border: none;
}
.virar ion-icon{
    height: 100%;
    width: 100%;
}
.back-face .questao{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    top:12px;
    
}
.front-face .questao{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;

}
.resposta{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.contador{
    height: 21px;
    width: 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    top:10px;
    right: 2px;
}

.status{
    height: 48px;
    width: 310px;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:15px;
}

.status div{
    height: 48px;
    width: 65px;
    left: 0px;
    top: 0px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
}
.status div span{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}
.status .aprendiAgora{
    border: 3px solid #000000;
}

.status .naoLembrei{
    border: 3px solid #F64848
}

.status .lembreiComEsforco{
    border: 3px solid #62DB38
}

.status .zap{
    border: 3px solid #FFEF61
}
.bordaAprendiAgora{
    border: 5px solid #000000
}
.bordaNaoLembrei{
    border: 5px solid #F64848
}
.bordaLembreiComEsforco{
    border: 5px solid #62DB38
}
.bordaZap{
    border: 5px solid #FFEF61
}