.logoNav{
    height: 54px;
    width: 141px;
    left: 26px;
    top: 26px;
    display: flex;
    align-items: center;
}
.logoNav ion-icon{
    height: 54px;
    width: 43px;
    color: #FFEF61;
}
.logoNav span{
    height: 20px;
    width: 79px;
    margin-left: 14px;
    font-family:'Merriweather', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}