.status{
    height: 48px;
    width: 310px;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom:15px;
}

.status div{
    height: 48px;
    width: 65px;
    left: 0px;
    top: 0px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.status div span{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}
.status .aprendiAgora{
    border: 3px solid #000000;
}

.status .naoLembrei{
    border: 3px solid #F64848
}

.status .lembreiComEsforco{
    border: 3px solid #62DB38
}

.status .zap{
    border: 3px solid #FFEF61
}